<div class="container mt-4">
  <h1 class="title text-center mb-4 fw-bold">Employee Management</h1>

  <div class="card mx-auto">
    <div class="card-body">
      <form #f="ngForm" class="form">
        <h3 class="text-center mb-4">Employee Details</h3>

        <div class="form-group">
          <label for="name">Name of Employee</label>
          <input type="text" class="form-control" name="name" placeholder="Name" required [(ngModel)]="name" pattern="^[a-zA-Z\s]+$">
          <div *ngIf="f.controls['name'].dirty || f.controls['name'].touched">
            
            <div *ngIf="name.length > 20 && !f.controls['name'].hasError('required')"
                 class="bg-red-100 border-2 border-red-400 text-red-700 text-sm p-2 mt-2 rounded-lg tracking-wider">
              Name should not exceed 20 letters
            </div>
            <div *ngIf="f.controls['name'].hasError('pattern')"
              class="bg-red-100 border-2 border-red-400 text-red-700 text-sm p-2 mt-2 rounded-lg tracking-wider">
           Name cannot have characters or numbers
         </div>
          </div>
        </div>

        <div class="form-group">
          <label for="id">Employee ID</label>
          <input type="number" class="form-control" name="id" placeholder="Employee ID" required [(ngModel)]="id">
        </div>

        <div class="form-group">
          <label>Experience</label>
          <div class="form-check">
            <input id="fresher" type="radio" class="form-check-input" value="fresher" [(ngModel)]="exp" name="experience">
            <label for="fresher" class="form-check-label">Fresher</label>
          </div>

          <div class="form-check">
            <input id="experienced" type="radio" class="form-check-input" value="experienced" [(ngModel)]="exp" name="experience">
            <label for="experienced" class="form-check-label">Experienced</label>
          </div>
        </div>

        <div class="form-group">
          <label for="dob">Date of Birth</label>
          <input type="date" class="form-control" placeholder="Date of Birth" required [(ngModel)]="dob" name="dob">
        </div>

        <div class="form-group">
          <label class="block text-sm font-medium text-gray-700">Department</label>

          <div class="form-check">
            <input id="CSE" type="radio" value="CSE" [(ngModel)]="dept" name="department" class="form-check-input">
            <label for="CSE" class="form-check-label">CSE</label>
          </div>

          <div class="form-check">
            <input id="CSBS" type="radio" value="CSBS" [(ngModel)]="dept" name="department" class="form-check-input">
            <label for="CSBS" class="form-check-label">CSBS</label>
          </div>
          <div class="form-check">
            <input id="CSBS" type="radio" value="CSBS" [(ngModel)]="dept" name="department" class="form-check-input">
            <label for="CSBS" class="form-check-label">CSBS</label>
          </div>

          <div class="form-check">
            <input id="IT" type="radio" value="IT" [(ngModel)]="dept" name="department" class="form-check-input">
            <label for="IT" class="form-check-label">IT</label>
          </div><div class="form-check">
            <input id="CIVIL" type="radio" value="CIVIL" [(ngModel)]="dept" name="department" class="form-check-input">
            <label for="CIVIL" class="form-check-label">CIVIL</label>
          </div>
        </div>

        <div class="form-group">
          <label for="salary">Salary</label>
          <input type="number" class="form-control" placeholder="Salary" required [(ngModel)]="salary" name="salary">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid" (click)="onSubmit()">Submit</button>
      </form>
    </div>
  </div>

  <div class="table mt-4">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Experience</th>
          <th>Date of Birth</th>
          <th>Department</th>
          <th>Salary</th>
          <th>Action</th>
        </tr>
      </thead>

      <tr *ngFor="let emp of empArray; let i = index">
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.exp }}</td>
        <td>{{ emp.dob }}</td>
        <td>{{ emp.dept }}</td>
        <td>{{ emp.salary }}</td>
        <td><button class="btn btn-danger" (click)="onDelete(i)">Delete</button></td>
      </tr>
    </table>
  </div>
</div>
